dist/
node_modules/
src/validatorsData/

validator_keys.rar
validator_keys/
.env

assigned.json
persistent.json
src/bots/assignOperatorsToValidatorBot/assigned.json
src/bots/assignOperatorsToValidatorBot/groups.json
src/bots/assignOperatorsToValidatorBot/operators.json