dist/
node_modules/
src/validatorsData/

validator_keys.rar
validator_keys/
.env

assigned.json
persistent.json
beaconChainPersistentData.json
src/bots/assignOperatorsToValidatorBot/assigned.json
src/bots/assignOperatorsToValidatorBot/groups.json
src/bots/assignOperatorsToValidatorBot/operators.json
db/

src/index.ts
src/generateDonationsFile.ts

src/validator_data/old_deposit_data-1677016004.json
ssv-keys-0.0.5.tar.gz